<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'RecipeApp/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'RecipeApp/css/base.css' %}">
    <script src="{% static 'RecipeApp/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'RecipeApp/js/bootstrap.js' %}"></script>
</head>
<body>
<header class="jumbotron">
    <h1>Food Forever</h1>
</header>
{% block content %}

{% endblock content %}
</body>
</html>